<div id="footer" class="footer" style="padding: 1em;">
  <div class="row">
    <div class="col-md-2">
      <img src="{{ site.url }}/assets/images/harvard-logo.png" style="width: 6em; margin-right: 2em;">
    </div>
    <div class="col-md-5 footer_font_IIIF">
      © International Image Interoperability Framework at Harvard University
    </div>
    <div class="col-md-5 footer_font_IIIF">
      <a href="http://www.darthcrimson.org" target="_blank" class="pull-right">
                        Maintained by Harvard University Arts &amp; Humanities Research Computing
                    </a>
    </div>
  </div>
</div>
