<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="header-navbar" style="opacity: .75; box-shadow: inset 0 0px 0 ;">
  <a href="/" class="navbar-brand" style="margin-top: -.25em; white-space: nowrap;">
              <span>
                  <img id="logoImage" src="{{ site.url }}/assets/images/International_Image_Interoperability_Framework_logo.png" alt="" title="" style="width: 1.75em;">
              </span>
                <span class="font_IIIF">
                    @Harvard
                </span>
            </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto navbar-font_IIIF">
      {% for link in include.navigation %}
        {% assign current = nil %}
        {% if page.url contains link.url and link.url != '/'%}
          {% assign current = 'active' %}
          {% assign screen = '<span class="sr-only">(current)</span>' %}
        {% endif %}
        <li class="nav-item {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
          <a class="nav-link {{ current }}" href="{{ link.url }}">{{ link.text }} {{ screen }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
