<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="https://www.harvard.edu" itemprop="url">
  <link rel="shortcut icon" type="image/ico" href="{{ site.url }}/assets/images/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/apple-touch-icon-144x144.png">
  <meta name="msapplication-TileImage" content="{{ site.url }}/assets/images/apple-touch-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#222222">
  <title itemprop="name">Harvard University IIIF</title>
  <meta name="description" content="Harvard University is devoted to excellence in teaching, learning, and research, and to developing leaders in many disciplines who make a difference global IIIF adoption at Harvard is a collaborative effort that began in earnest in 2014.  HarvardX, Harvard Art Museums, Harvard University Information Technology, Harvard Library, and various faculty have contributed in some way to increasing the visibility and use of IIIF at Harvard. The IIIF/Mirador Working Group guides and coordinates IIIF/Mirador-related efforts across the University.  As such, no one group “owns” IIIF at Harvard. The IIIF at Harvard website aims to highlight the collaborations and projects at Harvard that have utilized IIIF or Mirador in some capacity.">

  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">

</head>
