@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: 'Playfair Display', serif;
/*font-size: 2.2rem;*/
font-size: 1.5rem;
color: #000;
background-color: #f4f4f4;
transition: background-color 1s ease;
}
/* Navigation */
nav ul li a:hover {
color: blue;
}
a.active {
font-weight: 900;
font-size: 1.25em;
border-bottom: 2px solid red;
}
/* Headings */
h1 {
font-size: 5rem;
color: #34495E;
}
h2 {
  color: #000;
  font-size: 2em;
  font-family: 'Open Sans', serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.carousel-caption {
padding-bottom: 30px;
margin-right: -10%;
}

/* colorBkgd */
.colorBkgd {
width: 100%;
padding: 4em;
height: 26em;
}
/* colors */
.color-white {
background-color: #FFFFFF;
}
.color-atHarvard {
background-color: #FFDAE0;
}
.color-iiif {
background-color: #FFDB6D;
}
.color-mirador {
background-color: #C3D7A4;
}
.color-collaborators {
background-color: #4F3F3F1;
}
.color-resources {
background-color: #FFDB6D;
}
.navbar-font_IIIF {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  /**padding-bottom: 10px;**/
}
.font_IIIF {
  font-size: .8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 2em;
}
li.nav-item {
  padding: 0px 5px 0px 5px
}
.footer_font_IIIF {
  /**font-size: 1.25rem;**/
  font-size: .8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.footer {
background: #fff;
/**opacity: .65;**/
}

.carousel-item > img {
opacity: .5;
}

#carousel, .carousel-inner, .carousel-item {
height: 22em;
}




/** Collaborators **/
.card-img {
  background-position: 0 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 7em;
}
.card-icon {
  font-size: 1em;
  margin-top: -2em;
  text-align: center;
}
.museum, .icon-blue {
  color: #4E84C4;
}
.course {
  color: #52854C;
}
.application {
  color: #C4961A;
}
.books {
  color: #D16103;
}
.research {
  color: #8C8179;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.img-thumbnail {
  height: 100%;
}
.col-margin-top {
  margin-top: 1em;
}

.h2-card_font_IIIF {
    font-size: .7em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.thumb-post {
  object-fit:cover; /* Do not scale the image */
  object-position: top; /* Center the image within the element */
  width: 100%;
  max-height: 200px;
  margin-bottom: 1rem;
}

#resources {
  margin-bottom: 150px;
}

.mirador-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3.5em;
    font-weight: 100;
    letter-spacing: 0.05em;
    padding-left: 0.05em;
    position: relative;
    text-transform: none;
    margin: 0px;
}
#viewer {
    height: 725px;
    width: 700px;
}
.big-icon {
  font-size: 64px;
}
.big-icon:hover{
  color: #007bff;
}
.mirador-jump {
  width: 50%;
  text-align:center;
  display:inline;
}

.imagecontainer{
   margin:50px auto;
   display:block;
   width:160px;
   height:160px;
   overflow:hidden;
   border-radius: 10px;
   transform: rotate(45deg);
   -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Safari and Chrome */
   position:relative;
   margin-right: 2em;
   /* non-essential styling */
   -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
   box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
  }
  .imagecontainer img{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg); /* IE 9 */
   -webkit-transform: rotate(-45deg); /* Safari and Chrome */
   position:absolute;
   top:-100px;
   left:-100px;
  }
  figcaption{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg);
   /* non-essential styling */
   margin:-80px 0 0 -160px;
   font-family:'Oswald', Arial, Sans;
   font-size:20px;
   text-transform:uppercase;
   letter-spacing:.05em;
  }

.iiif-image-api, #iiif-image-api-img {
  max-height: 80vh;
}

.demo {
  list-style: none !important;
  margin: auto;
  text-align: center;
  word-wrap: break-word !important;
}
.demo li {
  display: inline-block !important;
    margin: 0px;
}
.attr {
  border-bottom: 1px solid #00C1CF !important;
  color: #00C1CF;
  margin: 2px !important;
  text-align: center;
}
